.vscode
.idea
.git
.vscode
compile_commands.json
dev-save-data
dev-build-data
cmake-build-debug
*Dockerfile*
*docker-compose*
pcap

backend/cmake-build-debug
backend/build
backend/.idea
backend/.cache
backend/.vscode
backend/result

frontend/.idea
frontend/.cache
frontend/.svelte-kit
frontend/.DS_Store
frontend/.env
frontend/.env.*
frontend/build
frontend/node_modules
frontend/vite.config.js.timestamp-*
frontend/vite.config.ts.timestamp-*
frontend/.vscode
frontend/result
