git-crypt-key
result
.idea
.cache
.vscode
compile_commands.json
dev-save-data
dev-build-data

cmake-build-debug/
backend/cmake-build-debug/
backend/build/
backend/src/proto/*
!backend/src/proto/.gitkeep
backend/docs/proto.md

frontend/node_modules
frontend/.DS_Store
frontend/build
frontend/.svelte-kit
frontend/package
frontend/.env
frontend/.env.*
frontend/!.env.example
frontend/vite.config.js.timestamp-*
frontend/vite.config.ts.timestamp-*

gui/lib/__*
gui/lib/*.pyc
gui/src/__*
gui/src/*pb2*