git-crypt-key
.idea
.cache
compile_commands.json
dev-save-data

cmake-build-debug/
backend/cmake-build-debug/
backend/build/
backend/src/packets*

pinhandler/pinout.json
pinhandler/venv
pinhandler/__pycache__
pinhandler/packets*

frontend/node_modules
frontend/src/lib/proto/packets*
frontend/.DS_Store
frontend/build
frontend/.svelte-kit
frontend/package
frontend/.env
frontend/.env.*
frontend/!.env.example
frontend/vite.config.js.timestamp-*
frontend/vite.config.ts.timestamp-*
