.idea
.cache
compile_commands.json

cmake-build-debug/
backend/cmake-build-debug/
backend/build/
backend/src/packets*

frontend/node_modules/
frontend/dist*
frontend/src/packets*

pinhandler/pinout.json
pinhandler/venv
pinhandler/__pycache__
pinhandler/packets*
